@font-face {
    font-family: 'NanumBarunGothic';
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'NanumBarunGothic';
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'NanumBarunGothic';
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    font-weight: 300;
    font-display: swap;
}