<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout02 - flex</title>
    <style>
        #wrap { width: 900px; margin: 0 auto; display: flex; gap: 10px; background-color: gray;}
        #header { width: 290px; height: 600px; background-color: #d182ff; }
        #section01 {width: 600px; height: 100px; background-color: #d83dff; }
        #section02 {width: 600px; height: 380px; background-color: #c505f5; margin: 10px 0;}
        #section03 {width: 600px; height: 100px; background-color: #56006b; }
    </style>
</head>
<body>
    <div id="wrap">
        <header id="header">header</header>
        <main id="main">
            <section id="section01">section01</section>
            <section id="section02">section02</section>
            <section id="section03">section03<section>
        </main>
        
    </div>
</body>
</html>