<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>탭레이아웃</title>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/tab_style.css">
</head>
<body>
    <header id="header">
        <div id="title">
            <h1>Web Design</h1>
            <h2>HTML5+CSS3</h2>
        </div>
        <nav id="lnb">
            <ul>
                <li><a href="#">회원가입</a></li>
                <li><a href="#">Q&A</a></li>
                <li><a href="#">게시판</a></li>
                <li><a href="#">요구사항</a></li>
                <li><a href="#">로그인</a></li>
            </ul>
        </nav>
        <nav id="gnb">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Galle</a></li>
                <li><a href="#">Port</a></li>
                <li><a href="#">Conta</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>
    <!-- // header -->

    <main id="main">
        dasdasdadd
    </main>
    <!-- // main -->

    <footer id="footer">

    </footer>
    <!-- // footer -->
</body>
</html>