/* resest */
* { margin: 0; padding: 0;}
li {list-style: none;}
a { text-decoration: none;}
body {  font-family: "Nanum Gothic", sans-serif;}

/* layout */
#header {
    width: 960px;
    height: 160px;
    background: pink;
    margin: 0 auto;
    /* 중앙정렬 */

    position: relative;
    /* 절대좌표의 기준점 */
}
#main {
    width: 960px;
    background:gray;
    margin: 0 auto;

}
#footer {
    width: 960px;
    height: 100px;
    background: skyblue;
    margin: 0 auto;

}

/* header */
#title {
    position: absolute;
    top: 34px;
    left: 30px;
}
#title h1 {
    font-family: "Archivo Black", sans-serif;
    font-size: 40px;
    color: #850000;
    line-height: 1;
}
#title h2 {
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    color: #070068;
    line-height:1;
}

nav#lnb {
    position: absolute;
    top: 10px;
    right: 10px;
}
nav#lnb ul {
    display: flex;
}
nav#lnb ul li {}
nav#lnb ul li a {}

nav#gnb {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
nav#gnb ul {
    display: flex;
}
nav#gnb ul li {
    text-align: center;
    line-height: 50px;
}
nav#gnb ul li a {
    display: block;
    color: #000;
    width: 130px; height: 50px;
    background-color: yellow;
    border: 1px solid #000;
}
nav#gnb ul li a:hover {
    color: red;
    background-color: blue;
}
