<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout02 - float</title>
    <style>
        #wrap { width: 900px; margin: 0 auto;}
        #header { width: 300px; height: 600px; background-color: #d182ff; float: left;}
        #section01 {width: 600px; height: 100px; background-color: #d83dff; float: left;}
        #section02 {width: 600px; height: 400px; background-color: #c505f5; float: left;}
        #section03 {width: 600px; height: 100px; background-color: #56006b; float: left;}
    </style>
</head>
<body>
    <div id="wrap">
        <header id="header">header</header>
        <section id="section01">section01</section>
        <section id="section02">section02</section>
        <section id="section03">section03<section>
    </div>
</body>
</html>